run = "npm run dev"
entrypoint = "src/app/page.tsx"

[nix]
channel = "stable-24_05"

[env]
PORT = "3000"

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
